<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text-center mb-4">Get It Done</h1>

      <div class="input-group mb-4">
          <input [(ngModel)]="todoInput" type="text" class="form-control" (keyup.enter)="createTodo()" placeholder="Enter what needs to be done!" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button (click)="createTodo()" class="btn btn-outline-secondary" type="button">+</button>
          </div>
        </div>
        <div class="row">
          <div class="col text-right mb-4">
            <button class="btn btn-orange" (click)="deleteAllTodos()"> Delete All Tasks</button>
          </div>
        </div>
      <table class="table table-dark">
        <thead>
          
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos">
            <td class="px-3 pt-3"s> 
              <input type="checkbox" [(ngModel)]="todo.isChecked">
            <span class="ml-3" [ngClass]="{'strike': todo.isChecked}">{{ todo.name }}</span>
            </td>
            <td class="text-right">
              <button (click)="editTodo(todo)" class="btn mr-3">Edit</button>
              <button class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>